body{
    background:#B3E0EE;
}

.center {
  position: absolute;
  transform: translate(-50%, -50%);

  top: 50%;
  left: 50%;
}

.gota {
  height: 150px;

  width: 150px;
  border-radius: 58% 43% 33% 64% / 50% 38% 53% 50%;
  background: transparent;
  box-shadow: inset 6px 33px 20px 0 #c9c9c9, inset 20px 80px 15px 0 #e0e0e0,
    10px 20px 20px 0px #c9c9c9;
}
.gota::before {
  content: "";

  background: white;
  width: 50px;

  position: absolute;
  border-radius: 37% 54% 46% 46%;
  transform: rotate(-30deg);
  left: 20px;
  height: 15px;
top: 20px;

}


.gota::after {
  content: "";

  position: absolute;
  border-radius: 50%;
  background: white;
}
